-- MySQL dump 10.13  Distrib 8.0.46, for Linux (x86_64)
--
-- Host: localhost    Database: unifit
-- ------------------------------------------------------
-- Server version	8.0.46

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `administradores`
--

DROP TABLE IF EXISTS `administradores`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `administradores` (
  `AdministradorID` int NOT NULL AUTO_INCREMENT,
  `Nome` varchar(100) COLLATE utf8mb4_general_ci NOT NULL,
  `Email` varchar(100) COLLATE utf8mb4_general_ci NOT NULL,
  `Senha` varchar(100) COLLATE utf8mb4_general_ci NOT NULL,
  `Cargo` varchar(100) COLLATE utf8mb4_general_ci DEFAULT NULL,
  PRIMARY KEY (`AdministradorID`),
  UNIQUE KEY `Email` (`Email`)
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `administradores`
--

LOCK TABLES `administradores` WRITE;
/*!40000 ALTER TABLE `administradores` DISABLE KEYS */;
INSERT INTO `administradores` VALUES (6,'Mateus','mpbittenc@gmail.com','202cb962ac59075b964b07152d234b70',NULL),(16,'Felipe ','Felipe@univap','202cb962ac59075b964b07152d234b70',NULL);
/*!40000 ALTER TABLE `administradores` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `exercicios`
--

DROP TABLE IF EXISTS `exercicios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `exercicios` (
  `idexercicio` int NOT NULL AUTO_INCREMENT,
  `nome` varchar(100) COLLATE utf8mb4_general_ci NOT NULL,
  `musculo` varchar(100) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `equipamento` text COLLATE utf8mb4_general_ci,
  `dificuldade` varchar(50) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `instrucao` text COLLATE utf8mb4_general_ci,
  `tipo` varchar(45) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `imagem` longtext COLLATE utf8mb4_general_ci,
  PRIMARY KEY (`idexercicio`)
) ENGINE=InnoDB AUTO_INCREMENT=85 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `exercicios`
--

LOCK TABLES `exercicios` WRITE;
/*!40000 ALTER TABLE `exercicios` DISABLE KEYS */;
/*!40000 ALTER TABLE `exercicios` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lista`
--

DROP TABLE IF EXISTS `lista`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `lista` (
  `idlista` int NOT NULL AUTO_INCREMENT,
  `nome` varchar(45) COLLATE utf8mb4_general_ci NOT NULL,
  `tipo` varchar(45) COLLATE utf8mb4_general_ci NOT NULL,
  `usuario_UsuarioID` int DEFAULT NULL,
  PRIMARY KEY (`idlista`),
  KEY `fk_usuario_lista` (`usuario_UsuarioID`),
  CONSTRAINT `fk_usuario_lista` FOREIGN KEY (`usuario_UsuarioID`) REFERENCES `usuarios` (`UsuarioID`)
) ENGINE=InnoDB AUTO_INCREMENT=150 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lista`
--

LOCK TABLES `lista` WRITE;
/*!40000 ALTER TABLE `lista` DISABLE KEYS */;
INSERT INTO `lista` VALUES (137,'Treino de Biceps e costas','A',NULL),(138,'Treino de peito e triceps','A',NULL),(139,'Treino de ombro e biceps','A',NULL),(140,'Treino de costas','A',NULL),(141,'Treino de perna','C',NULL),(146,'Teste','A',NULL),(148,'Treino heinz','A',98),(149,'Lista de hoje','A',100);
/*!40000 ALTER TABLE `lista` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lista_exercicios`
--

DROP TABLE IF EXISTS `lista_exercicios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `lista_exercicios` (
  `lista_idlista` int NOT NULL,
  `exercicios_idexercicio` int NOT NULL,
  KEY `lista_idlista` (`lista_idlista`),
  KEY `exercicios_idexercicio` (`exercicios_idexercicio`),
  CONSTRAINT `lista_exercicios_ibfk_1` FOREIGN KEY (`lista_idlista`) REFERENCES `lista` (`idlista`),
  CONSTRAINT `lista_exercicios_ibfk_2` FOREIGN KEY (`exercicios_idexercicio`) REFERENCES `exercicios` (`idexercicio`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lista_exercicios`
--

LOCK TABLES `lista_exercicios` WRITE;
/*!40000 ALTER TABLE `lista_exercicios` DISABLE KEYS */;
INSERT INTO `lista_exercicios` VALUES (137,29),(137,34),(137,33),(137,43),(137,1),(137,3),(137,6),(138,18),(138,20),(138,23),(138,19),(138,13),(138,17),(138,14),(139,48),(139,50),(139,46),(139,8),(139,3),(139,1),(140,26),(140,29),(140,43),(140,44),(140,33),(140,34),(141,58),(141,59),(141,56),(141,57),(141,84),(146,5),(146,3),(148,29),(148,40),(148,34),(148,44),(148,3),(148,1),(148,6),(149,1);
/*!40000 ALTER TABLE `lista_exercicios` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usuarios`
--

DROP TABLE IF EXISTS `usuarios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `usuarios` (
  `UsuarioID` int NOT NULL AUTO_INCREMENT,
  `Nome` varchar(100) COLLATE utf8mb4_general_ci NOT NULL,
  `Email` varchar(100) COLLATE utf8mb4_general_ci NOT NULL,
  `Senha` varchar(100) COLLATE utf8mb4_general_ci NOT NULL,
  `Sexo` varchar(45) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `Altura` decimal(5,2) DEFAULT NULL,
  `Peso` decimal(5,2) DEFAULT NULL,
  `Telefone` varchar(20) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `DataNascimento` date DEFAULT NULL,
  `Foto` varchar(255) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `Objetivo` varchar(50) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `MetaSemanal` int DEFAULT '4',
  `createdAt` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`UsuarioID`),
  UNIQUE KEY `Email` (`Email`)
) ENGINE=InnoDB AUTO_INCREMENT=101 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuarios`
--

LOCK TABLES `usuarios` WRITE;
/*!40000 ALTER TABLE `usuarios` DISABLE KEYS */;
/*!40000 ALTER TABLE `usuarios` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-09-23  0:19:15
